<button mat-raised-button color="primary" (click)="onBack()">< Back</button>
<h3>Car</h3>
<mat-card class="example-card" *ngIf="car$ | async as car">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{car.make}} {{car.model}}</mat-card-title>
    <mat-card-subtitle>{{car.bodyType}} {{car.year | date:"yyyy"}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="car.image" [alt]="car.make+' '+car.model">
</mat-card>
