<h2>Cars List</h2>

<mat-card class="car-list" *ngFor="let car of cars$ | async">
  <mat-card-content (click)="showSelectedCar(car.id)">
    <div class="image">
      <a routerLink="/car/{{car.id}}">
        <img [src]="car.image">
      </a>
    </div>
    <mat-card-title>
      <a routerLink="/car/{{car.id}}">
        {{car.make}} {{car.model}} {{car.year | date:"yyyy"}}
      </a>
    </mat-card-title>
  </mat-card-content>
</mat-card>
