<h2>Forms Component</h2>
<form novalidate [formGroup]="myForm">
  <section>
    <mat-form-field>
      <input matInput type="text" placeholder="Name" formControlName="name">
    </mat-form-field>
  </section>
  <section>
    <mat-checkbox formControlName="ich">Is Checked</mat-checkbox>
  </section>
  <p>{{myForm.get('ich').value}}</p>
  <section formGroupName="address">
    <section>
      <mat-select placeholder="City" formControlName="city">
        <mat-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</mat-option>
      </mat-select>
      <!--<p *ngIf="myForm?.get('name')?.get('address')?.get('city')?.hasError('nameIsEmpty')">-->
      <!--Name is empty-->
      <!--</p>-->
    </section>
    <section>
      <mat-form-field>
        <input matInput type="text" placeholder="Street" formControlName="street">
      </mat-form-field>
    </section>
    <section>
      <mat-form-field>
        <input matInput type="number" placeholder="Number" formControlName="number">
      </mat-form-field>
    </section>
  </section>
  <button type="submit" (submit)="onSubmit(myForm)">Submit</button>
</form>
