<h2>Persons</h2>
<h3>Store Select</h3>
<div *ngFor="let p of storePersons$ |async">
  <a routerLink="/person/{{p.name}}">{{p.name}} {{p.surname}}</a>
</div>

<p><b>expNumbers: {{number}}</b></p>
<button mat-button (click)="decrement()">Decreace</button>
<button mat-button (click)="increment()">Increace</button>
