<section class="custom-theme">
  <a routerLink="/observable">Observable</a>
  <app-child [(info)]="number"></app-child>
  <p>Number: {{number}}</p>
  <p><a routerLink="/cars">Cars</a></p>
  <p><a routerLink="/forms">Forms</a></p>
  <div class="example-container">
  </div>
  <h2>{{counter$ | async}}</h2>
  <p>
    <mat-checkbox>Check me!</mat-checkbox>
  </p>
  <button mat-button>My Button</button>
  <button mat-button (click)="increace()">Increace</button>
  <button mat-button (click)="decreace()">Decreace</button>
  <button mat-button (click)="reset()">Reset</button>

  <br>
  <app-person [number]="expNumbers" (event)="expNumbersChangeEvent($event)"></app-person>

  <br>
  <div class="example-container">
    <mat-form-field>
      <input matInput [ngModel]="format" (change)="updateFormat($event)">
    </mat-form-field>
    <mat-form-field>
      <input matInput [ngModel]="number" (change)="updateInput($event)">
    </mat-form-field>
    <button mat-button color="primary">Submit</button>
  </div>
  <p>{{numberStr}}</p>
  <br>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</section>
