@import "hma.theme";
@import "~@angular/material/theming";

@include mat-core();

$hma-app-primary: mat-palette($hma-colors);
$hma-app-accent: mat-palette($hma-colors, A200, A100, A400);
$hma-app-theme: mat-light-theme($hma-app-primary, $hma-app-accent);

$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent);

@include angular-material-theme($candy-app-theme);

.custom-theme {
  @include angular-material-theme($hma-app-theme);
}
